:root {

  --red: #d01800;

  --yellow: #fdb833;

  --green: #70ae6e;

  --black: #222121;

  --white: whitesmoke;
}

body {
  background: var(--white);
  font-family: Roboto , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro , Menlo , Monaco , Consolas , Courier New , monospace;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
